<article id="article1">
	<div class="top">
		<h2>The Value of Money</h2>
		<figure>
			<img class="img-responsive" src="./img/img1.jpg" alt="Currency">
			<figcaption>Money</figcaption>
		</figure>
		<div class="info">
			<p>
			    The basic concept behind time value of money is that an amount of money earned earlier is better than that earned tomorrow. 
			    Time value of money has immense application in today’s life. Its application spans in a variety of personal decisions like saving and retirement planning. 
			    Corporates investment decisions are based on time value of money. A dollar earned today is worth more than a dollar earned tomorrow since the dollar can be invested to earn a return. 
			    For example if the bank offers an annual interest rate of 10% in a saving account, then one dollar deposited will become $1.10 in a year’s time. Time value of money exists due to inflation and preference of people for present consumption. 
			    On account of inflation, you might not be able to buy the same amount of goods in future compared to today as the purchasing power of money decreases due to inflation. 
			    People basically prefer present consumption compared to future.
			      <br> <button onclick="window.location.href = 'https://www.sciencedirect.com/topics/social-sciences/value-of-money';" target="_blank">Source</button>
			</p>
            
		</div>
	</div>
</article>

<article id="article2">
	<h2>GMO food</h2>
	<div class="top">

		<figure>
			<img class="img-responsive" src="./img/img2.jpg" alt="GMO FOOD">
			<figcaption>GMO Food</figcaption>
		</figure>
		<div class="info">
            <p>A genetically modified organism, or GMO, is an organism that has had its DNA altered or modified in some way through genetic engineering.
                In most cases, GMOs have been altered with DNA from another organism, be it a bacterium, plant, 
                virus or animal; these organisms are sometimes referred to as "transgenic" organisms.
                GMOs are already very common in the farming industry. The most common genetic modifications are designed to create higher yield crops, 
                more consistent products, and resist pests, pesticides and fertilizer.
                However, the NCBI also maintains a list of potential risks associated with GM foods, including genetic alterations that can cause environmental harm. Specifically, 
                it's possible that modified organisms could be inbred with natural organisms, leading to the possible extinction of the original organism.
                 For instance, the banana tree is propagated entirely through cloning methods.
                 <br> <button onclick="window.location.href = 'https://www.livescience.com/40895-gmo-facts.html';" target="_blank">Source</button>
                   </p>
		</div>
	</div>


	<article id="article3">
		<div class="top">
			<h2>The View of World in 2100</h2>
			<figure>
				<img class="img-responsive" src="./img/img3.jpg" alt="MotherBoard">
				<figcaption>Globalization</figcaption>
			</figure>
			<div class="info">
				<p>By 2100, human fatalities could decrease because of the increased reliance on artificial intelligence, automation, and more exact weaponry.

Merging machines, artificial intelligence, and humans on the battlefield in the 22nd century is hard for our 2018 minds to understand. 
These human/machine mind melds may seem like science-fiction, but DARPA told Popular Mechanics that war could soon use “an unprecedented degree of human-machine symbiosis...
with interfaces between these powerful systems and their human operators as seamless as possible.”
Although likely not as large, machines like the Jaegers from Pacific Rim or any number of mecha seems like a close comparison.
Along with AI, automation will substitute human lives for machine hardware. Like today’s military drones today, unmanned, long endurance aircraft systems will be able to perform strikes without putting as many lives at risk.
 The big leap forward will be designing a more precise, more versatile weapon without inflicting massive collateral damage.
“Weapons will be smaller, faster, more versatile, and less lethal,” Gil Metzger, the director of applied research at Lockheed Martin, told Popular Mechanics.
 “They will be able to complete the mission with higher probability of success, but with substantially less collateral damage and fewer casualties.”
But not everyone believes that military AI and automation is a good thing. Mankins thinks it’s dangerous imagining a 22nd century where machines are “sanctioned by (world) governments with authority and ability to compel individual human compliance with force.” 
        Like a future dominated by Gort or Skynet.
         <br> <button onclick="window.location.href = 'https://www.popularmechanics.com/technology/infrastructure/a18198479/future-machines-2100/';" target="_blank">Source</button>
        </p>
			
			</div>
		</div>

	</article>